# Canton Database
CANTON_DB_HOST=localhost
CANTON_DB_PORT=5432
CANTON_DB_USER=canton
CANTON_DB_PASSWORD=supersecret
CANTON_PARTICIPANT_DB=canton_participant
CANTON_SEQUENCER_DB=canton_sequencer
CANTON_MEDIATOR_DB=canton_mediator
CANTON_DOMAIN_MANAGER_DB=canton_domain_manager

# Canton Ports
CANTON_LEDGER_API_PORT=5011
CANTON_PARTICIPANT_ADMIN_PORT=5012
CANTON_SEQUENCER_PUBLIC_PORT=5018
CANTON_SEQUENCER_ADMIN_PORT=5019
CANTON_MEDIATOR_ADMIN_PORT=5017
CANTON_DOMAIN_MANAGER_ADMIN_PORT=5016

# Authentication (JWKS)
CANTON_AUTH_JWKS_URL=http://localhost:8080/realms/canton/protocol/openid-connect/certs

# TLS Certificates
CANTON_TLS_CERT=./tls/certs/server.crt
CANTON_TLS_KEY=./tls/certs/server.key
CANTON_TLS_CA_CERT=./tls/certs/ca.crt
CANTON_TLS_CLIENT_AUTH=require
CANTON_TLS_ADMIN_CLIENT_CERT=./tls/certs/admin-client.crt
CANTON_TLS_ADMIN_CLIENT_KEY=./tls/certs/admin-client.key

# Monitoring (CANTON_METRICS_PORT / CANTON_HEALTH_PORT are read by monitoring.conf)
# When running nodes in separate processes, set per-process:
#   Participant: CANTON_METRICS_PORT=9000 CANTON_HEALTH_PORT=9001
#   Sequencer:   CANTON_METRICS_PORT=9002 CANTON_HEALTH_PORT=9003
#   Mediator:    CANTON_METRICS_PORT=9004 CANTON_HEALTH_PORT=9005
CANTON_METRICS_PORT=9000
CANTON_HEALTH_PORT=9001

# Sequencer HA
CANTON_SEQUENCER_HA=true

# DAR Path
CANTON_DAR_PATH=../.daml/dist/asset-transfer-0.1.0.dar

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# UI Environment
REACT_APP_ENV=production
REACT_APP_LEDGER_URL=https://localhost:5011
REACT_APP_AUTH_URL=http://localhost:8080/realms/canton
REACT_APP_AUTH_CLIENT_ID=canton-ui
